:root {
  --nav: #11161d;
  --background: #101b26;
  --primary: #137fec;
  --secondary: #94a3b8;
  --card: #1a2430;
  --text: #e5e7eb;
}

.card {
  background-color: var(--card);
  border-radius: 16px;
  border: 1px solid #26313c;
}

.icono {
  color: #137fec;
  display: flex;
  align-items: center;
  font-size: 24px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body {
  text-decoration: none;
  font-family: "Space Grotesk", "Roboto", sans-serif;
  color: white;
  background-color: var(--background);
  nav {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: var(--nav);
    height: 64px;
    padding: 24px;
    gap: 10px;

    .search-bar {
      height: 40px;
      width: 223px;
      margin-left: auto;
      padding: 15px 10px;
      gap: 5px;
      background-color: #1a1f27;
      border: 1px solid #262a32;
      border-radius: 12px;
      color: var(--secondary);
      display: flex;
      align-items: center;
      #location {
        background-color: #1a1f27;
        border: none;
        outline: none;
        box-shadow: none;
        color: var(--secondary);
      }
    }

    .logo {
      font-size: 32px;
      display: flex;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: row;
      color: var(--secondary);
      gap: 24px;
      font-size: 14px;
      li {
        cursor: pointer;
      }
    }
    .nombre {
      margin-right: 10px;
    }
  }

  .dashboard-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    flex-direction: row;

    .forecast {
      display: flex;
      flex-direction: row;
      padding: 40px;
      width: 909px;
      justify-content: space-between;
      .city {
        &__name {
          display: flex;
          flex-direction: row;
          gap: 5px;
          .name {
            font-size: 36px;
          }
        }
        .date {
          font-size: 16px;
          color: var(--secondary);
        }

        .temp {
          background: linear-gradient(to bottom, #fff, #a7b3c4);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          font-size: 110px;
          font-weight: 800;
        }
        &__weather {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          .sky {
            color: var(--primary);
          }
          .separation {
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: var(--secondary);
          }
          .feeling {
            color: var(--secondary);
          }
        }

        &__coordinates {
          display: flex;
          flex-direction: row;
          gap: 8px;
          color: var(--secondary);
          font-size: 14px;
        }
      }

      .visual {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .sun{
            position: relative;
            width: 160px;
            height: 160px;
            border-radius: 50%;
            background-color: #FB923C;
            margin-right: 30px;
            opacity: 0.6;
            &::after{
                position: absolute;
                content: "";
                inset: 0;
                width: 90%;
                transform: translateX(13%);
                background: radial-gradient(circle, #FFC90E, transparent 60%);
            }
            &::before{
                height: 150%;
                position: absolute;
                content: "";
                inset: 0;
                width: 150%;
                transform: translate(-38px,-38px);
                z-index: 0;
                background: radial-gradient(circle, #FFC90E, transparent 60%);
                
            }

        }
        .uv{
            position: absolute;
            display: flex;
            align-items: center;
            font-size: 10px;
            gap: 3px;
            bottom: 0;
            right: 0;
            padding: 5px 10px;
            transform: translateY(-80%);
            .warning{
                display: flex;
                align-items: center;
                font-size: 14px;
            }
        }
      }
    }
  }
}
