:root {
  --nav: #11161d;
  --background: #101b26;
  --primary: #137fec;
  --secondary: #94a3b8;
  --card: #1a2430;
  --text: #e5e7eb;
}

@keyframes sun {
  0% {
    transform: scale(0.95);
    opacity: 0.5;
  }
  50% {
    transform: scale(1);
    opacity: 0.8;
  }
  100%{
    transform: scale(0.95);
    opacity: 0.5;
  }
}

.active{
  position: relative;
  color: var(--primary);
  &::before{
    position: absolute;
    content: "";
    width: 100%;
    bottom: -2px;
    right: 0;
    height: 2px;
    background-color: #137fec;
  }
}

.material-symbols-outlined {
  font-family: "Material Symbols Outlined";
}

.material-symbols-outlined.fill.icon {
  font-variation-settings:
    "FILL" 1,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24 !important;
}

.inline {
  display: flex;
  gap: 4px;
  span {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
}
.secondary {
  color: var(--secondary);
  font-size: 14px;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
}
.card {
  background-color: var(--card);
  border-radius: 16px;
  border: 1px solid #26313c;
}

.icono {
  color: #137fec;
  display: flex;
  align-items: center;
  font-size: 24px;
}

.small{
  font-size: 12px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}
body {
  
  
  text-decoration: none;
  font-family: "Space Grotesk", "Roboto", sans-serif;
  color: white;
  background-color: var(--background);
  nav {
    align-items: center;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: var(--nav);
    height: 64px;
    padding: 24px;
    gap: 10px;

    .search-bar {
      height: 40px;
      width: 223px;
      margin-left: auto;
      padding: 15px 10px;
      gap: 5px;
      background-color: #1a1f27;
      border: 1px solid #262a32;
      border-radius: 12px;
      color: var(--secondary);
      display: flex;
      align-items: center;
      #location {
        background-color: #1a1f27;
        border: none;
        outline: none;
        box-shadow: none;
        color: var(--secondary);
      }
    }

    .logo {
      font-size: 32px;
      display: flex;
      align-items: center;
    }

    ul {
      display: flex;
      flex-direction: row;
      color: var(--secondary);
      gap: 24px;
      font-size: 14px;
      li {
        cursor: pointer;
      }
    }
    .nombre {
      margin-right: 10px;
    }
  }

  .info {
    display: flex;
    flex: 0 0 20%;
    padding: 32px 32px 32px 0;
    justify-content: center;
    
    

    .info-weather {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .info-container {
        display: flex;
        flex-direction: row;
        gap: 15px;
        .winfo {
          padding: 16px;
          min-width: 160px;
          min-height: 160px;
        }
        .weather-data {
          padding: 20px 0;
          .data-number {
            font-size: 25px;
            font-weight: 800;
            margin-bottom: 2px;
          }
          .value {
            font-size: 14px;
            color: #34d399;
            background-color: #1c3537;
            padding: 2px 5px;
            border-radius: 5px;
          }
        }
        .bar-container {
          width: 100%;
          height: 5px;
          margin-top: 5px;
          background-color: var(--background);
          border-radius: 2px;
          .bar {
            width: 100%;
            height: 100%;
            background: linear-gradient(to right,#40D391,#FACB15,#fa8715,#fa2415);
            border-radius: 2px;
          }
          .blue{
            width: 100%;
            height: 100%;
            background: var(--primary);
            border-radius: 2px;
          }
        }
      }
    }
  }
  .dashboard-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
    flex-direction: column;
    gap: 32px;
    flex: 1;

    .hourly {
      display: flex;
      width: 100%;
      padding: 20px 40px;
      gap: 5px;
      flex-direction: column;
      .hours-container {
        display: flex;
        color: var(--secondary);
        margin-bottom: 10px;
        gap: 10px;
        .hours {
          height: 100px;
          width: 68px;
          padding: 12px;
          display: flex;
          align-items: center;
          flex-direction: column;
          justify-content: center;
          cursor: pointer;
          border-radius: 16px;
          &:active {
            background-color: var(--primary);
            color: white;
          }
        }
        .hour {
          font-size: 14px;
        }
        .icon {
          color: #facc15;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 25px;
          margin: 5px 0;
        }
        .degrees {
          font-weight: 800;
        }
      }
    }

    .forecast {
      display: flex;
      flex-direction: row;
      padding: 20px 40px;
      width: 100%;
      flex: 3;
      justify-content: space-between;
      .city {
        &__name {
          display: flex;
          flex-direction: row;
          gap: 5px;
          .name {
            font-size: 36px;
          }
        }
        .date {
          font-size: 16px;
          color: var(--secondary);
        }

        .temp {
          background: linear-gradient(to bottom, #fff, #a7b3c4);
          background-clip: text;
          -webkit-background-clip: text;
          color: transparent;
          -webkit-text-fill-color: transparent;
          font-size: 110px;
          font-weight: 800;
        }
        &__weather {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          .sky {
            color: var(--primary);
          }
          .separation {
            height: 4px;
            width: 4px;
            border-radius: 50%;
            background-color: var(--secondary);
          }
          .feeling {
            color: var(--secondary);
          }
        }

        &__coordinates {
          display: flex;
          flex-direction: row;
          gap: 8px;
          color: var(--secondary);
          font-size: 14px;
        }
      }

      .visual {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .sun {
          position: relative;
          width: 160px;
          height: 160px;
          border-radius: 50%;
          background-color: #fb923c;
          margin-right: 30px;
          opacity: 0.6;
          animation: sun 4s ease-in-out infinite;
          &::after {
            position: absolute;
            content: "";
            inset: 0;
            width: 90%;
            transform: translateX(13%);
            background: radial-gradient(circle, #ffc90e, transparent 60%);
          }
          &::before {
            
            height: 150%;
            position: absolute;
            content: "";
            inset: 0;
            width: 150%;
            transform: translate(-38px, -38px);
            z-index: 0;
            background: radial-gradient(circle, #ffc90e, transparent 60%);
          }
        }
        .uv {
          position: absolute;
          display: flex;
          align-items: center;
          font-size: 10px;
          gap: 3px;
          bottom: 0;
          right: 0;
          padding: 5px 10px;
          transform: translateY(-80%);
          .warning {
            display: flex;
            align-items: center;
            font-size: 14px;
          }
        }
      }
    }
  }
}

